.messages {
  background-image: url('../images/anthony-cantin-m8v1OJ3qlQw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.react-slideshow-container {
  text-align: center;
  
}

.slide-container {
  width: 70%;
  margin: 40px auto 0; 
  font-size: 90px;
  color: #eee;
  font-family: 'Caveat', cursive;
  font-weight: bold;
}

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .message-container {
  width: 100%;
  overflow: hidden;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.add-button {
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  color: #eee;
  font-size: 36px;
}

div.nav {
  visibility: hidden;
}

@media only screen and (min-width: 992px) {
  .slide-container {
    font-size: 55px;
    color: darkslateblue;

  }

  .add-button {
    font-size: 22px;
  }
}