.App {
  position: relative;
  font-family: 'Caveat', cursive;
}

.landing, .messages, .add-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(115, 80, 196)
}
